.history {
    padding: 1rem;
    background-color: rgb(31, 31, 31);
    margin: 2rem auto;
    width: 100rem;
    max-width: 95%;
  }

  .graph-item {
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    color: white;
    background-color: #fff;
  }