/*Import Google fonts*/
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap');
/* HEADER */
.header {
    padding: 0 7rem;
    /* height: 10vh; */
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
/* NAVIGATION */
.nav {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    height: 7rem;
    width: 100%;
    /* padding: 2 6rem;   */
    padding-top: 50px;
    padding-bottom: 30px;
    z-index: 100;
  }

.nav2 {
    /* display: flex; */
    /* justify-content: space-between; */
    align-items: center;
    height: 8rem;
    /* width: 100%; */
    /* padding: 0 200rem;   */
    /* z-index: 1000; */
  }
  
  /* nav and stickly class at the same time */
  .nav.sticky {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.95);
  }
  
  .nav__logo {
    height: 6rem;
    transition: all 0.3s;
    font-weight: bold;
    font-size: 40px;
    position: relative;
    text-align: center;
  }

  .nav_drop {
    height: 4rem;
    transition: all 0.3s;
    font-weight: bold;
    /* font-size: 40px; */
    color: #32a0c2;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: -0.03em;
    align-self: center;
    font-size: 3rem;
  }
  
  .nav_drop {
    height: 7rem;
    transition: all 0.3s;
    font-weight: bold;
    font-size: 60px;
    color: #32a0c2;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: -0.03em;
    align-self: center;
  }

  .nav__links {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 1.8rem;
  }
  
  .nav__item {
    margin-left: 1.5rem;
  }

  .nav__link:link,
  .nav__link {
    font-size: 1.7rem;
    font-weight: bold;
    color: inherit;
    text-decoration: none;
    display: block;
    transition: all 0.3s;
  }